@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #555;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  opacity: 90%;
  margin-bottom: 2rem;
}

.grid {
  gap: 2rem;
  padding: 1rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ffffffaa;
  border: 5px solid #bdc3c7;
  border-radius: 0.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
  opacity: 1;
}

.image-container span {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
